@import "Core/config/theme/index.scss";
@import "Core/lib/theme/index.scss";

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 272px;

    padding: 92px 0;

    background-color: $gray;

    @media only screen and (max-width: $bp-xl) {
        padding: 76px 0;
        min-height: auto;
    }

    @media only screen and (max-width: $bp-lg) {
        padding: 60px 0;
        background-color: $dark-medium;
    }

    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px 24px;

        @media only screen and (max-width: $bp-lg) {
            flex-direction: column;
            justify-content: center;
            gap: 32px 20px;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        flex: 0 1 33.33%;
        
        @media only screen and (max-width: $bp-lg) {
            flex: unset;
        }
    }

    &__link {
        display: inline-flex;
        align-items: center;
        gap: 8px;

        fill: $gray-white;
        color: #858585;
        text-decoration: none;
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;

        transition: color 0.3s ease, fill 0.3s ease;

        &:hover {
            color: $blue-light;
            fill: $blue-light;
        }

        @media (hover: hover) {
            &:active{
                color: $blue;
                fill: $blue;
            }
        }
        
        .icon{
            width: 32px;
            height: 32px;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 126px;
        height: 75px;
        flex: 1 1 33.33%;

        @media only screen and (max-width: $bp-lg) {
            flex: unset;
            order: -1;
        }

        img {
            height: 100%;
            max-width: 100%;
            flex-shrink: 0;
        }
    }

    &__socials {
        justify-content: flex-end;

        flex: 0 1 33.33%;

        @media only screen and (max-width: $bp-lg) {
            flex-direction: column;
            justify-content: center;
            flex: unset;
        }
    }
}
