include /core/lib/layout/index.pug
include /core/ui/nav/index.pug

mixin footer(props = {})
    
    footer.footer 
        .container 
            .footer__inner 
                .footer__links 
                    a.footer__link(href="mailto:consult@lozkins.ru")
                        +icon('mail')
                        span mailto:consult@lozkins.ru
                
                .footer__logo 
                    img(src="assets/images/logo/logo-vertical.svg", alt="")
                
                .socials.footer__socials 
                    a.socials__link(href="#", target="_blank")
                        +icon('soc-linkedin')
                    
                    a.socials__link(href="#", target="_blank")
                        +icon('soc-habr')