@import "Core/config/theme/index.scss";
@import "Core/lib/theme/index.scss";

.link{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: $blue-light;
    fill: $blue-light;
    text-decoration: none;
    gap: 10px;
    transition: fill 0.3s ease, color 0.3s ease, opacity 0.3s ease;

    &:hover{
        color: $blue;
        fill: $blue;
    }

    @media (hover: hover) {
        &:active{
            color: $blue-medium;
            fill: $blue-medium;
        }
    }

    &[disabled], 
    &--disabled{
        pointer-events: none;
        opacity: 0.75;
    }

    .icon{
        width: 24px;
        height: 24px;
    }

    span{

    }
}
