include /core/lib/layout/index.pug

mixin link(props = { classes: [], attrs: {} })
    -
        const baseClasses = ['link'];
        const mixClasses = Array.isArray(props.classes) ? props.classes : [];

        const requiredAttrs = {
            class: baseClasses.concat(mixClasses),
        };
        const optionalAttrs = props.attrs || {};
        const attrs = Object.assign({}, requiredAttrs, optionalAttrs);

    div&attributes(attrs)
