@import "Core/config/theme/index.scss";
@import "Core/lib/theme/index.scss";

.ui{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 32px 0;
    // background-color: $light;
    color: #fff;
    background-repeat: repeat;
    background-size: 820px auto;

    &__container{
        // max-width: 100%;
    }

    &__inner{
        padding: 0 20px;
    }

    &__header{
        margin-bottom: 30px;
    }

    &__nav{
        box-sizing: border-box;
        padding: 20px 0;
        position: sticky;
        top: 168px;
        // background-color: #fff;
        z-index: 9;
        min-width: 100%;
        border-bottom: 1px solid #D2C2FF;

        @media only screen and (max-width: $bp-lg) {
            padding: 12px 16px;
            top: 62px;
            margin-left: -16px;
            margin-right: -16px;
        }

        .badges{
            overflow: hidden;
        }
        
        .badges__list{
            max-height: 110px;
            overflow: hidden auto;

            @media only screen and (max-width: $bp-lg) {
                max-height: 88px;
            }

            @media only screen and (max-width: $bp-md) {
                max-height: 64px;
            }
        }
    }

    &__block{
        margin-top: 30px;
        border-bottom: 1px solid $blue;
        padding-bottom: 30px;

        &:first-of-type{
            margin-top: 0;
        }

        // &::before{
        //     content: "";
        //     pointer-events: none;
        //     display: block;
        //     height: calc(168px + 130px + 30px);
        //     margin-top: calc(-1 * (168px + 130px + 30px));
        //     flex-shrink: 0;
        //     display: flex;
    
        //     @media only screen and (max-width: $bp-lg) {
        //         height: calc(62px + 80px + 30px);
        //         margin-top: calc(-1 * (62px + 80px + 30px));
        //     }
        // }
    }

    &__row{
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -32px -5px;

        @media only screen and (max-width: $bp-lg) {
            margin-right: -20px;
            margin-left: -20px;
        }

        @media only screen and (max-width: $bp-md) {
            margin-right: -15px;
            margin-left: -15px;
        }
    }

    &__col{
        box-sizing: border-box;
        position: relative;
        max-width: 100%;
        flex-grow: 1;
        padding: 0 32px;
        margin-bottom: 20px;
        min-height: 50px;

        @media only screen and (max-width: $bp-lg) {
            padding-left: 20px;
            padding-right: 20px;
        }

        @media only screen and (max-width: $bp-md) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
