@import "Core/config/theme/index.scss";
@import "Core/lib/theme/index.scss";

.breadcrumbs {
    display: flex;
    max-width: 100%;
    margin: 0 0 20px;

    @media only screen and (max-width: $bp-xl) {
        margin-bottom: 15px;
    }

    @media only screen and (max-width: $bp-lg) {
        display: none;
    }

    &__list {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        
        &.is-movable{
            cursor: grab;
        }
    }

    &__link {
        flex-shrink: 0;
        white-space: nowrap;
        display: inline-flex;
        align-items: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 30px;
        color: $dark;
        text-decoration: none;
        transition: color 0.3s ease;

        &::after{
            content: "/";
            display: inline-flex;
            flex-shrink: 0;
            margin: 0 5px;
        }

        &:hover{
            color: $blue;
        }

        &:last-of-type{
            font-weight: 400;
            color: $dark;
            pointer-events: none;

            &::after{
                display: none;
            }
        }
    }
}
