include /core/lib/layout/index.pug

mixin breadcrumbs(props)
    -
        const list = props.list;
    
    .breadcrumbs(data-component="breadcrumbs")
        .container
            .breadcrumbs__list(data-node="content")
                each name, index in props.list
                    a.breadcrumbs__link(href="#")= name

//- +breadcrumbs({list: ['Главная', 'Страница', 'Страница']})