@import "Core/config/theme/index.scss";
@import "Core/lib/theme/index.scss";

.input {
    box-sizing: border-box;
    position: relative;

    background: none;
    border: none;
    outline: none;

    display: flex;
    flex-direction: column;

    width: 100%;
    flex-grow: 1;
    
    color: #fff;
    fill: $blue-medium;
    background-color: transparent;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;

    transition: color 0.3s ease, fill 0.3s ease, ;

    @media only screen and (max-width: $bp-lg) {
        font-size: 14px;
        line-height: 135%;
    }

    &__wrapper{
        display: flex;
        align-items: center;
        gap: 8px;

        min-height: 50px;

        padding: 12px 20px;

        border-radius: 12px;
        border: 1px solid $blue-medium;
        transition: border-color 0.3s ease, background-color 0.3s ease;
    }

    &__native{
        outline: none;

        width: 100%;
        flex-grow: 1;

        padding: 0;

        color: inherit;
        font-size: inherit;
        line-height: inherit;
        text-overflow: ellipsis;
        resize: none;
        border: 0;
        background-color: transparent;

        &::placeholder{
            opacity: 0.4 !important;
            color: #fff;
            transition: color 0.3s ease;
        }
    }

    &__icon{
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        
        &--left{
            order: -1;
        }

        &--right{

        }
    }

    &__status{
        display: none;
        margin-top: 10px;
        font-size: 12px;
        line-height: 140%;

        @media only screen and (max-width: $bp-lg) {
            margin-top: 8px;
        }
    }

    &--textarea &__wrapper{
        align-items: flex-start;

        min-height: 100px;
    }

    // md

    &--md{
        font-size: 14px;
        line-height: 135%;
    }

    &--md &__icon{
        width: 20px;
        height: 20px;
    }

    &--md#{&}--textarea &__wrapper{
        padding: 8px 10px;
    }
    
    // lg

    &--lg{
        font-size: 32px;

        @media only screen and (max-width: $bp-xl) {
            font-size: 26px;
        }

        @media only screen and (max-width: $bp-lg) {
            font-size: 18px;
        }

        @media only screen and (max-width: $bp-md) {
            font-size: 14px;
        }
    }

    &--lg &__wrapper{
        gap: 12px;

        min-height: 78px;

        padding: 20px;

        border-radius: 20px;

        @media only screen and (max-width: $bp-lg) {
            gap: 10px;

            min-height: 64px;

            padding: 16px 20px;

            border-radius: 16px;
        }

        @media only screen and (max-width: $bp-md) {
            gap: 8px;

            min-height: 50px;

            padding: 12px 20px;

            border-radius: 10px;
        }
    }

    &--lg &__icon{
        width: 36px;
        height: 36px;
        
        @media only screen and (max-width: $bp-xl) {
            width: 32px;
            height: 32px;
        }

        @media only screen and (max-width: $bp-lg) {
            width: 28px;
            height: 28px;
        }

        @media only screen and (max-width: $bp-md) {
            width: 24px;
            height: 24px;
        }
    }

    &--lg#{&}--textarea &__wrapper{
        padding: 20px;

        @media only screen and (max-width: $bp-lg) {
            padding: 8px 10px;
        }
    }

    // light

    &--light{
        color: #fff;
        fill: #fff;
    }

    &--light &__wrapper{
        border-color: #fff;
    }

    &:hover#{&}--light &__wrapper{
        border-color: #C5DDFF;
        background-color: hsla(215, 100%, 892%, 0.05);
    }

    &.is-filled#{&}--light &__wrapper{
        border-color: #C5DDFF;
        background-color: hsla(215, 100%, 892%, 0.12);
    }

    &.is-focused#{&}--light &__wrapper{
        border-color: #aecdf9;
        background-color: hsla(215, 100%, 892%, 0.2);
    }

    // Actions

    &[disabled]{
        pointer-events: none;
        opacity: 0.6;
    }

    &:hover &__wrapper{
        border-color: $blue-light;
        background-color: hsla(202, 71%, 52%, 0.05);
    }
        
    &.is-filled &__wrapper{
        border-color: $blue;
        background-color: hsla(202, 71%, 52%, 0.12);
    }
        
    &.is-focused &__wrapper{
        border-color: $blue;
        background-color: hsla(202, 71%, 52%, 0.2);
    }

    &.is-error{
        color: $red;
        fill: $red;
    }

    &.is-error &__wrapper{
        border-color: $red;
    }

    &.is-error &__native::placeholder{
        color: $red;
    }

    &.is-success &__status{
        color: $green;
    }

    &.is-success &__wrapper{
        border-color: $green;
    }

    &.is-success &__native::placeholder{
        color: $green;
    }

    &.is-loading &__status{
        color: $yellow;
    }

    &.is-loading &__wrapper{
        border-color: $yellow;
    }

    &.is-loading &__native::placeholder{
        color: $yellow;
    }


    &.is-error &__status,
    &.is-success &__status,
    &.is-loading &__status    {
        display: flex;
        animation: fadeInTop 0.3s ease forwards;
    }
}
