include /core/lib/layout/index.pug

mixin nav(props = {})
    nav.nav
        a(href="#intro").nav__link Главная
        a(href="#services").nav__link Сервисы
        a(href="#about").nav__link Автор
        a(href="#articles").nav__link Статьи