include /core/lib/layout/index.pug

mixin nav(props = {})
    nav 
        a(href="about.html") О компании
        a(href="#") Каталог
        a(href="#") Блог
        a(href="delivery-payment.html") Доставка и оплата
        a(href="#") Франшиза
        a(href="#") Специалистам
        a(href="faq.html") F.A.Q
        a(href="#") Мнения
        a(href="contacts.html") Контакты