@import "Core/config/theme/index.scss";
@import "Core/lib/theme/index.scss";

* {
    box-sizing: border-box;
}

button,
.button,
a {
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
    outline: none;
}

.icon{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.container {
    width: 100%;
    max-width: calc(1280px + 64px);

    padding: 0 32px;
    margin: 0 auto;

    @media only screen and (max-width: $bp-lg) {
        max-width: calc(1280px + 40px);

        padding: 0 20px;
    }

    @media only screen and (max-width: $bp-md) {
        max-width: calc(1280px + 30px);
        
        padding: 0 15px;
    }
}
