@import "Core/config/theme/index.scss";
@import "Core/lib/theme/index.scss";

.grid {

    &__list{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
        row-gap: 20px;

        @media only screen and (max-width: $bp-lg) {
            row-gap: 12px;
            margin: 0 -6px;
        }

        @media only screen and (max-width: $bp-md) {
            row-gap: 10px;
            margin: 0 -4px;
        }

        & > *{
            width: calc(20% - 20px);
            margin: 0 10px;

            @media only screen and (max-width: $bp-xxxl) {
                width: calc(25% - 20px);
            }

            @media only screen and (max-width: $bp-xxl) {
                width: calc(33.33% - 20px);
            }

            @media only screen and (max-width: $bp-lg) {
                width: calc(50% - 12px);
                margin: 0 6px;
            }

            @media only screen and (max-width: $bp-md) {
                width: calc(50% - 8px);
                margin: 0 4px;
            }
        }
    }

    &__more{
        margin-top: 60px;
    }

    &--special &__list > *{

        &:first-child,
        &:last-child{

            @media only screen and (min-width: $bp-lg + 1) {
                width: calc(66.66% - 20px);
                
                .c-product__prices{
                    flex-direction: row;
                }
            }

            @media only screen and (min-width: $bp-xxl + 1) {
                width: calc(50% - 20px);
            }

            @media only screen and (min-width: $bp-xxxl + 1) {
                width: calc(40% - 20px);
            }
        }

        &:nth-child(3){
            @media only screen and (max-width: $bp-lg) {
                width: calc(100% - 12px);
            }
        }

        &:nth-last-child(2) {
            display: none;

            @media only screen and (min-width: $bp-lg + 1) {
                display: flex;
            }

            @media only screen and (min-width: $bp-xxl + 1) {
                display: none;
            }

            @media only screen and (min-width: $bp-xxxl + 1) {
                display: flex;
            }
        }

        
        &:nth-last-child(3) {
            display: none;

            @media only screen and (min-width: $bp-xxxl + 1) {
                display: flex;
            }
        }

        &:last-child{
            @media only screen and (max-width: $bp-lg) {
                width: calc(100% - 12px);
            }
        }
    }

    &--categories &__list{
        @media only screen and (max-width: $bp-lg) {
            margin: 0 -5px;
        }
    }

    &--categories &__list > *{
        width: calc(33.33% - 20px);
        flex-grow: 1;
        margin: 0 10px;

        @media only screen and (max-width: $bp-xxxl) {
            width: calc(25% - 20px);
        }

        @media only screen and (max-width: $bp-xxl) {
            width: calc(33.33% - 20px);
        }

        @media only screen and (max-width: $bp-lg) {
            width: calc(50% - 10px);
            margin: 0 5px;
        }

        &:nth-child(2){

            @media only screen and (min-width: $bp-xxl + 1) {
                width: calc(58% - 20px);
            }
        }

        &:nth-child(3){

            @media only screen and (max-width: $bp-lg) {
                width: calc(100% - 10px);
            }
        }
    }

    &--patents .grid__list > *{
        width: calc((100% - 60px) / 3);
        max-width: 535px;

        @media only screen and (max-width: $bp-xl) {
            width: calc((100% - 40px) / 2);
            max-width: unset;
        }
        @media only screen and (max-width: $bp-sm) {
            width: 100%;
        }
    }

    &--products .grid__list > *{

        &:nth-child(5){

            @media only screen and (max-width: $bp-lg) {
                width: calc(100% - 10px);
            }
        }
    }
}
