@import "Core/config/theme/index.scss";
@import "Core/lib/theme/index.scss";

.socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 32px;
        height: 32px;
        flex-shrink: 0;

        fill: #CCCCCC;
        transition: fill 0.3s ease;

        .icon {
            width: 100%;
            height: 100%;
        }

        &:hover {
            fill: $blue-light;
        }

        @media (hover: hover) {
            &:active{
                color: $blue;
                fill: $blue;
            }
        }
    }
}