extends /core/templates/default.pug

include /core/lib/layout/index.pug
//- include /widgets/header/index.pug
//- include /widgets/footer/index.pug

block title 
    title Map

block beforeWorkarea
    //- +header()

block workarea
    .sitemap
        .sitemap__container
            .sitemap__title Карта сайта
            .sitemap__nav
                a.sitemap__link(href="ui-kit.html") Ui Kit
                a.sitemap__link(href="main.html") Главная

block afterWorkarea
    //- +footer()
