$dark: #0F0F0F;
$dark-medium: #1A1A1A;
$dark-light: #191919;

$gray: #333333;
$gray-light: #CCCCCC;
$gray-white: #D9D9D9;

$light: #F6F6F6;

$blue: #2F80ED;
$blue-light: #56CCF2;
$blue-medium: #2D9CDB;

$green: #79E822;
$yellow: #F9D30D;
$red: #E82222;