include /core/lib/layout/index.pug

mixin radio(props = {classes: [], attrs: {}})
    -
        let checked = props.checked ? props.checked : false;
        let disabled = props.disabled ? props.disabled : false;
        let name = props.name ? props.name : 'radio';
        let value = props.value ? props.value : 'value';

        let classes = ['radio'];
        let attrs = props.attrs ? props.attrs : {};

        if (props.class && Array.isArray(props.class)) {
            props.class.forEach((key) => {
                classes.push(key);
            })
        }

    label(class= classes, disabled= disabled)&attributes(attrs)
        input.radio__input(type= "radio", name= name, value= "radio", checked= checked)

        .radio__wrapper 
            .radio__icon-wrapper 
                .radio__icon
            if block 
                .radio__content
                    block
