include /core/lib/layout/index.pug

mixin badge(props = { class: [], attrs: {}})
    -
        const type = props.type ? props.type : 'radio';
        const href = props.href ? props.href : '#';
        const iconStyle = props.iconStyle ? props.iconStyle : '';
        const active = props.active ? props.active : false;
        const disabled = props.disabled ? props.disabled : '';
        const name = props.name ? props.name : 'badge';
        const content = props.content ? props.content : [];

        let classes = ['badge'];
        let attrs = props.attrs ? props.attrs : {};

        if (Array.isArray(props.class)) {
            props.class.forEach((key) => {
                classes.push(key);
            })
        }

        if(active && type != 'radio' && type != 'checkbox'){
            classes.push('is-active')
        }

    case type
        when 'radio'
            label(class= classes)&attributes(attrs)
                input.badge__input(type="radio", name= name, disabled= props.disabled, value= name, checked= props.active)
                +badgeInner(iconStyle, content)

        when 'checkbox'
            label(class= classes)&attributes(attrs)
                input.badge__input(type="checkbox", name= name, disabled= props.disabled, value= name, checked= props.active)
                +badgeInner(iconStyle, content)

        when 'button'
            button(type="button", class= classes)&attributes(attrs)
                +badgeInner(iconStyle, content)

        when 'link'
            a(href= href, class= classes)&attributes(attrs)
                +badgeInner(iconStyle, content)
                    
        default 
            a(href= href, class= classes)&attributes(attrs)
                +badgeInner(iconStyle, content)


mixin badgeInner(iconStyle, content)
    .badge__wrapper 
        each value, index in content
            if content.text && value == content.text
                span!= value
            if content.icon && value == content.icon
                if iconStyle == 'image'
                    .icon(style="mask-image: url("+value+"); -webkit-mask-image: url("+value+");")
                else 
                    +icon(value)



//- +badge({
//-     class: [''], 
//-     attrs: {}, 
//-     type: 'link', 
//-     href: '#',
//-     iconStyle: '', 
//-     name: 'badge', 
//-     active: false, 
//-     disabled: false,
//-     content: {text: 'Badge 1', icon: 'icon id'},
//- })