include /core/lib/layout/index.pug

mixin cookies(props = {})
    .cookies
        .container
            .cookies__inner
                .text-lg.text-700.cookies__text Мы используем cookie на нашем сайте, чтобы он работал исправно
                button.button.cookies__button.jsCookiesButton(type="button")
                    span Согласен и принимаю
            