include /core/lib/layout/index.pug

mixin tabs(props = { class: [], attrs: {} })
    -
        let classes = ['tabs'];
        let attrs = props.attrs ? props.attrs : {};

        if (Array.isArray(props.class)) {
            props.class.forEach((key) => {
                classes.push(key);
            })
        }

    div(class= classes,)&attributes(attrs)
