@import "Core/config/theme/index.scss";
@import "Core/lib/theme/index.scss";

.button {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 16px 36px;

    min-height: 78px;

    color: $gray-white;
    fill: $gray-white;

    text-decoration: none;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;

    background-color: hsla(202, 71%, 52%, 0.2);
    border-radius: 20px;
    border: 4px solid $blue;
    
    transition: color 0.3s ease 0.15s, fill 0.3s ease 0.15s, border-color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;

    @media only screen and (max-width: $bp-xl) {
        min-height: 68px;

        padding: 14px 36px;

        font-size: 26px;

        border-radius: 18px;
    }

    @media only screen and (max-width: $bp-lg) {
        min-height: 52px;

        padding: 12px 36px;

        font-size: 20px;

        border-radius: 14px;
        border-width: 2px;
    }

    @media only screen and (max-width: $bp-md) {
        min-height: 40px;

        padding: 10px 38px;

        font-size: 14px;

        border-radius: 10px;
        border-width: 1px;
    }

    &__icon,
    .icon{
        width: 32px;
        height: 32px;

        @media only screen and (max-width: $bp-lg) {
            width: 24px;
            height: 24px;
        }

        @media only screen and (max-width: $bp-md) {
            width: 20px;
            height: 20px;
        }
    }

    &:hover{
        background-color: hsla(202, 71%, 52%, 0.6);
    }

    @media (hover: hover) {
        &:active{
            background-color: $blue;
        }
    }

    &[disabled], 
    &--disabled{
        pointer-events: none;
        opacity: 0.35;
    }

    &--light{
        color: $blue;
        fill: $blue;
        background-color: #fff;
        border-color: #fff;

        &:hover{
            color: #fff;
            fill: #fff;
            background-color: hsla(0, 0%, 100%, 0.6);
        }
        
        @media (hover: hover) {
            &:active{
                background-color: hsla(0, 0%, 100%, 0.2);
            }
        }

    }

    &--fill{
        background-color: $blue;

        &:hover{
            background-color: hsla(202, 71%, 52%, 0.6);
        }

        @media (hover: hover) {
            &:active{
                background-color: hsla(202, 71%, 52%, 0.2);
            }
        }
    }

    // SIZE
    
    // &--lg{
    //     height: 64px;
    //     font-weight: 700;
    //     font-size: 20px;
    //     line-height: 120%;

    //     @media only screen and (max-width: $bp-lg) {
    //         font-size: 16px;
    //         height: 48px;
    //     }

    //     @media only screen and (max-width: $bp-md) {
    //         height: 35px;
    //         font-size: 12px;
    //     }
    // }

    // &--icon{
    //     width: 44px;
    //     padding: 0;

    //     @media only screen and (max-width: $bp-lg) {
    //         width: 34px;
    //     }

    //     @media only screen and (max-width: $bp-md) {
    //         width: 24px;
    //     }
    // }

    // &--icon#{&}--lg{
    //     width: 64px;

    //     @media only screen and (max-width: $bp-lg) {
    //         width: 48px;
    //     }

    //     @media only screen and (max-width: $bp-md) {
    //         width: 35px;
    //     }
    // }
    
    // &--icon#{&}--round{
    //     border-radius: 50%;
    // }
}
