@import "Core/config/theme/index.scss";
@import "Core/lib/theme/index.scss";

@import "~swiper/css";
@import "~swiper/css/navigation";
@import "~swiper/css/pagination";

.slider {

    &__navigation{
        pointer-events: none;
        display: flex;
        align-items: center;
        position: static;
        z-index: 2;
        gap: 20px;

        @media only screen and (max-width: $bp-sm) {
            gap: 8px;
        }
    }

    &__button {
        pointer-events: all;
        cursor: pointer;
        margin: 0;
        box-sizing: border-box;
        position: static;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        flex-shrink: 0;
        background-color: transparent;
        border: 1px solid #595959;
        fill: #595959;
        transition: background-color 0.35s ease, fill 0.35s ease, color 0.35s ease, opacity 0.35s ease;

        @media only screen and (max-width: $bp-md) {
            width: 40px;
            height: 42px;
        }

        &:hover{
            background-color: #3D3E3F;
            fill: #fff;
        }

        &::after, 
        &::before{
            content: none;
        }

        &.swiper-button-disabled {
            opacity: 1;
            border-color: #BFBFBF;
            fill: #BFBFBF;
        }
    }

    &__button-icon{
        flex-shrink: 0;
        width: 20px;
        height: 20px;

        @media only screen and (max-width: $bp-sm) {
            width: 10px;
            height: 10px;
        }
    }

    
}
