include /core/lib/layout/index.pug

mixin modal(props = {})
    -
        var id = props.id ? props.id : '';
        var classes = ['modal', 'fade'];
            
        if (props.class && Array.isArray(props.class)) {
            props.class.forEach((key) => {
                classes.push(key);
            })
        }
    
    div(class= classes, id= id, tabindex="-1", aria-hidden="true")
        .modal-dialog.modal-dialog-centered
            .modal-content
                block
