@import "Core/config/theme/index.scss";
@import "Core/lib/theme/bootstrap.scss";


.fade{
    transition: opacity 0.3s linear;
}

.modal {
    --bs-modal-zindex: 100;

    &.fade &-dialog{
        transform: none !important;
    }

    &.fade &-content{
        transform: translateY(0px);
        opacity: 0;
        will-change: transform;
        transition: transform 0.3s ease-out, opacity 0.3s ease;
    }

    &.show &-content{
        opacity: 1;
        transform: none;
    }

    &-backdrop{
        --bs-backdrop-zindex: 99;
        background: hsla(0, 0%, 10%, 0.65);
        opacity: 0;

        &.show{
            opacity: 1;
        }
    }

    &-dialog {
        flex-direction: column;
        justify-content: center;

        width: 100%;
        max-width: 1280px;
        min-height: 100%;
        max-height: 100%;
        
        margin: 0 auto;

        border-radius: 0;
        border: none;
        overflow: hidden;

        @media only screen and (max-width: $bp-md) {
            min-height: 100%;
            max-height: none;

            overflow: visible;
        }
    }

    &-content {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-direction: row;
        justify-content: space-between;

        padding: 0;

        background-color: #333333;
        border-radius: 40px;
        box-shadow: none;
        overflow: hidden;

        @media only screen and (max-width: $bp-xl) {
            border-radius: 32px;
        }

        @media only screen and (max-width: $bp-lg) {
            border-radius: 26px;    
        }

        @media only screen and (max-width: $bp-md) {
            flex-direction: column;

            flex-grow: 1;

            border-radius: 0px;
            overflow: visible;
        }
    }

    &__menu {
        @media only screen and (max-width: $bp-md) {
            position: sticky;
            top: 0;
            z-index: 1;

            display: flex;
            align-items: center;
            justify-content: flex-end;

            min-height: 60px;

            padding: 20px;

            background-color: #1F1F1F;
        }
    }

    &-close {
        position: absolute;
        top: 44px;
        right: 44px;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 48px;
        height: 48px;
        margin: 0;

        fill: #808080;
        background-color: transparent;
        border: none;
        cursor: pointer;

        transition: fill 0.3s ease;

        @media only screen and (max-width: $bp-xl) {
            top: 40px;
            right: 40px;

            width: 36px;
            height: 36px;
        }

        @media only screen and (max-width: $bp-lg) {
            top: 20px;
            right: 20px;

            width: 28px;
            height: 28px;
        }

        @media only screen and (max-width: $bp-md) {
            position: relative;
            right: 0;
            top: 0;

            width: 20px;
            height: 20px;

            fill: $blue-medium;
        }

        .icon {
            width: 100%;
            height: 100%;

            fill: inherit;
        }

        &:hover {
            fill: $blue-light;

            @media only screen and (max-width: $bp-md) {
                fill: $blue;
            }
        }

        @media (hover: hover) {
            &:active{
                fill: $blue;

                @media only screen and (max-width: $bp-md) {
                    fill: $blue-light;
                }
            }
        }
    }

    &__main{
        display: flex;
        flex-direction: column;

        padding: 120px 160px 80px 74px;

        flex-grow: 1;
        overflow: hidden auto;
        max-width: 100%;

        @media only screen and (max-width: $bp-xxxl) {
            padding: 100px 120px 80px 60px;
        }

        @media only screen and (max-width: $bp-xl) {
            padding: 80px 60px;
        }

        @media only screen and (max-width: $bp-lg) {
            padding: 60px 40px;
        }

        @media only screen and (max-width: $bp-md) {
            padding: 0 20px 40px;
        }
    }

    &__bg{
        display: flex;

        width: 440px;
        flex-shrink: 0;

        border-radius: 40px 0 0 40px;
        overflow: hidden;

        @media only screen and (max-width: $bp-xl) {
            width: 380px;

            border-radius: 32px 0 0 32px;
        }

        @media only screen and (max-width: $bp-lg) {
            width: 300px;

            border-radius: 26px 0 0 26px;
        }

        @media only screen and (max-width: $bp-md) {
            width: 100%;
            height: 170px;

            margin-bottom: -10px;

            border-radius: 0;
        }
    }

    &__bg-image {
        display: flex;

        width: 100%;
        height: 100%;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;

            @media only screen and (max-width: $bp-md) {
                object-position: bottom center;
            }
        }
    }

    &__header {

        &:not(:last-child) {
            margin-bottom: 40px;

            @media only screen and (max-width: $bp-xl) {
                
            }

            @media only screen and (max-width: $bp-lg) {
                
            }

            @media only screen and (max-width: $bp-md) {
                
            }
        }
    }

    &__title {
        font-weight: 700;

        @media only screen and (max-width: $bp-md) {
            font-size: 32px;
        }
    }
    
    &__body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__form {
        flex-grow: 1;
    }

    &__list{
        display: flex;
        flex-direction: column;
    }

    &__list-item {
        display: flex;
        align-items: flex-start;

        &:not(:last-child) {
            margin-bottom: 40px;
        }

        .icon {
            width: 42px;
            height: 42px;
            
            margin-right: 32px;
            
            fill: $blue-medium;

            @media only screen and (max-width: $bp-xl) {
                width: 36px;
                height: 36px;

                margin-right: 28px;
            }

            @media only screen and (max-width: $bp-lg) {
                width: 28px;
                height: 28px;

                margin-right: 24px;
            }

            @media only screen and (max-width: $bp-md) {
                width: 20px;
                height: 20px;

                margin-right: 20px;
            }
        }
    }

    &__list-content {
        display: flex;
        flex-direction: column;

        p {
            color: #C2C2C2;
            font-weight: 500;
            font-size: 32px;
            line-height: 120%;

            @media only screen and (max-width: $bp-xl) {
                font-size: 26px;
            }

            @media only screen and (max-width: $bp-lg) {
                font-size: 20px;
            }

            @media only screen and (max-width: $bp-md) {
                font-size: 16px;
            }

            &:not(:last-child) {
                margin-bottom: 20px;

                @media only screen and (max-width: $bp-lg) {
                    margin-bottom: 16px;
                }

                @media only screen and (max-width: $bp-md) {
                    margin-bottom: 12px;
                }
            }
        }
    }

    &__actions {

        margin-top: auto;
        padding-left: 74px;


        @media only screen and (max-width: $bp-xxxl) {
            padding-left: 60px;
        }


        @media only screen and (max-width: $bp-lg) {
            padding-left: 40px;
        }

        @media only screen and (max-width: $bp-md) {
            padding-left: 0;
        }

        &:not(:first-child) {
            padding-top: 80px;

            @media only screen and (max-width: $bp-xl) {
                padding-top: 64px;
            }

            @media only screen and (max-width: $bp-lg) {
                padding-top: 52px;
            }

            @media only screen and (max-width: $bp-md) {
                padding-top: 40px;
            }
        }
    }

    &__action {

        @media only screen and (max-width: $bp-md) {
            width: 100%;
        }
    }

    &--info &__bg {
        @media only screen and (max-width: $bp-md) {
            display: none;
        }
    }

    &--info &__main {
        padding-left: 0;

        @media only screen and (max-width: $bp-md) {
            padding: 40px;
        }
    }
}


.modal-form {
    display: flex;
    flex-direction: column;

    form{
        display: flex;
        flex-direction: column;

        flex-grow: 1;
    }
    
    &__body {

    }

    &__group {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;

        @media only screen and (max-width: $bp-xl) {
            gap: 16px 12px;
        }

        @media only screen and (max-width: $bp-lg) {
            gap: 12px 8px;
        }

        @media only screen and (max-width: $bp-md) {
            gap: 10px 4px;
        }

        &:not(:last-child) {
            margin-bottom: 40px;

            @media only screen and (max-width: $bp-xl) {
                margin-bottom: 30px;
            }

            @media only screen and (max-width: $bp-lg) {
                margin-bottom: 20px;
            }

            @media only screen and (max-width: $bp-md) {
                margin-bottom: 10px;
            }
        }

        &--md {
            gap: 16px 8px;

            @media only screen and (max-width: $bp-xl) {
                gap: 12px 8px;
            }

            @media only screen and (max-width: $bp-lg) {
                gap: 10px 6px;
            }

            @media only screen and (max-width: $bp-md) {
                gap: 6px 4px;
            }

            &:not(:last-child) {
                margin-bottom: 40px;

                @media only screen and (max-width: $bp-lg) {
                    margin-bottom: 30px;
                }
            }
        }
    }

    &__radio {
        width: calc(25% - 24px / 4);
        flex-grow: 1;
        // flex: 1 1 calc(25% - 24px / 4);

        @media only screen and (max-width: $bp-lg) {
            width: calc(25% - 18px / 4);
            // flex: 1 1 calc(25% - 18px / 4);
        }

        @media only screen and (max-width: $bp-md) {
            width: calc(25% - 12px / 4);
            // flex: 1 1 calc(25% - 12px / 4);
        }
    }

    &__input {
        width: auto;
        flex: 1 1 calc(50% - 20px / 2);

        @media only screen and (max-width: $bp-md) {
            flex-basis: 100%;
        }
    }

    &__footer {
        margin-top: auto;

        @media only screen and (max-width: $bp-md) {
            padding-right: 20px;
            padding-left: 20px;
        }

        &:not(:first-child) {
            padding-top: 80px;

            @media only screen and (max-width: $bp-xl) {
                padding-top: 64px;
            }

            @media only screen and (max-width: $bp-lg) {
                padding-top: 52px;
            }

            @media only screen and (max-width: $bp-md) {
                padding-top: 40px;
            }
        }
    }

    &__submit {
        @media only screen and (max-width: $bp-md) {
            width: 100%;
        }
    }

    &__policy {
        width: 100%;

        color: #808080;
        font-weight: 300;
        font-size: 20px;
        line-height: 120%;

        @media only screen and (max-width: $bp-xl) {
            font-size: 18px;
        }

        @media only screen and (max-width: $bp-lg) {
            font-size: 16px;
        }

        @media only screen and (max-width: $bp-md) {
            font-size: 14px;
        }

        a {
            color: inherit;
            transition: color 0.3s ease;

            &:hover{
                color: $blue-light;
            }

            @media (hover: hover) {
                &:active{
                    color: $blue;
                }
            }
        }
    }
}