@import "Core/config/theme/index.scss";
@import "Core/lib/theme/index.scss";

.s-intro {
    display: flex;
    align-items: center;
    min-height: 100vh;

    @media only screen and (min-height: 1440px) {
        min-height: 70vh;
    }

    @media only screen and (max-width: $bp-xl) {
        min-height: 70vh;
    }

    @media only screen and (max-width: $bp-md) {
        min-height: auto;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media only screen and (max-width: $bp-md) {
            flex-direction: column-reverse;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;

        width: 100%;
        max-width: 540px;
        flex-shrink: 0;
        
        color: #fff;

        @media only screen and (max-width: $bp-xl) {
            max-width: 480px;

            gap: 32px;
        }

        @media only screen and (max-width: $bp-lg) {
            max-width: 440px;

            gap: 24px;
        }

        @media only screen and (max-width: $bp-md) {
            align-items: center;
            gap: 20px;

            text-align: center;
        }
    }

    &__logo-wrapper {

        @media only screen and (max-width: $bp-md) {
            display: none;
        }
    }

    &__logo{
        width: 362px;
        height: 98px;

        @media only screen and (max-width: $bp-xl) {
            width: 320px;
            height: 86px;
        }
    }

    &__logo-line {
        width: 200px;
        height: 1px;

        margin: 20px 0;

        background-color: $gray-white;

        @media only screen and (max-width: $bp-xl) {
            width: 175px;
        }
    }

    &__title {
    }

    &__subtitle {
        display: block;

        color: hsla(0, 0%, 100%, 0.7);

        font-weight: 500;
        font-size: 32px;
        line-height: 120%;

        @media only screen and (max-width: $bp-xl) {
            font-size: 28px;
        }

        @media only screen and (max-width: $bp-lg) {
            font-size: 24px;
        }

        @media only screen and (max-width: $bp-md) {
            font-size: 20px;
        }
    }

    &__button {

        @media only screen and (max-width: $bp-md) {
            display: none;
        }

        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    &__image {
            width: 60%;
        flex-shrink: 0;

        margin-left: 85px;

        @media only screen and (max-width: $bp-xl) {
            margin-left: 32px;
        }

        @media only screen and (max-width: $bp-lg) {
            margin-left: 12px;
        }

        @media only screen and (max-width: $bp-md) {
            width: 100%;
            max-width: 450px;

            margin-bottom: 45px;
            margin-left: 0;

            transform: translateX(5%);
        }
        

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.s-about {
    position: relative;

    display: flex;
    align-items: center;

    min-height: 100vh;

    background-color: $gray;
    overflow: hidden;

    @media only screen and (min-height: 1440px) {
        min-height: 70vh;
    }

    @media only screen and (max-width: $bp-xl) {
        min-height: 70vh;
    }

    @media only screen and (max-width: $bp-md) {
        min-height: auto;

        background-color: transparent;
    }

    &__bg {
        position: absolute;
        inset: 0;

        width: 100%;
        object-fit: cover;

        @media only screen and (max-width: $bp-xl) {
            
        }

        @media only screen and (max-width: $bp-lg) {
            
        }

        @media only screen and (max-width: $bp-md) {
            display: none;
        }
    }

    &__inner {
        position: relative;
        
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media only screen and (max-width: $bp-md) {
            flex-direction: column;
        }
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 412px;
        height: 412px;
        flex-shrink: 0;

        margin-right: 120px;

        border-radius: 50%;
        overflow: hidden;

        @media only screen and (max-width: $bp-xl) {
            width: 340px;
            height: 340px;

            margin-right: 64px;
        }

        @media only screen and (max-width: $bp-lg) {
            width: 260px;
            height: 260px;

            margin-right: 32px;
        }

        @media only screen and (max-width: $bp-md) {
            width: 160px;
            height: 160px;

            margin-right: 0;
            margin-bottom: 32px;
        }

        img{
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    &__main {

        @media only screen and (max-width: $bp-md) {
            text-align: center;
            max-width: 540px;
        }
    }

    &__title {

        span {
            display: block;
            
            text-transform: none;
            color: rgba(255, 255, 255, 0.70);
            font-weight: 500;

            @media only screen and (max-width: $bp-md) {
                margin-top: 8px;
            }
        }

        &:not(:last-child) {
            margin-bottom: 40px;

            @media only screen and (max-width: $bp-xl) {
                margin-bottom: 32px;
            }

            @media only screen and (max-width: $bp-lg) {
                margin-bottom: 26px;
            }

            @media only screen and (max-width: $bp-md) {
                margin-bottom: 20px;
            }
        }
    }

    &__text {
        color: #B3B3B3;

        font-weight: 300;
        font-size: 24px;
        line-height: 120%;

        @media only screen and (max-width: $bp-xl) {
            font-size: 20px;
        }

        @media only screen and (max-width: $bp-lg) {
            font-size: 18px;
        }

        @media only screen and (max-width: $bp-md) {
            font-size: 14px;
        }

        &:not(:last-child) {
            margin-bottom: 40px;

            @media only screen and (max-width: $bp-xl) {
                margin-bottom: 32px;
            }

            @media only screen and (max-width: $bp-lg) {
                margin-bottom: 26px;
            }

            @media only screen and (max-width: $bp-md) {
                margin-bottom: 20px;
            }
        }
    }

    &__button {

        &:not(:first-child) {
            margin-top: 40px;

            @media only screen and (max-width: $bp-xl) {
                margin-top: 32px;
            }

            @media only screen and (max-width: $bp-lg) {
                margin-top: 10px;
            }

            @media only screen and (max-width: $bp-md) {
                margin-top: 0;
            }
        }
    }
}

.s-articles {
    display: flex;
    align-items: center;
    min-height: 100vh;

    @media only screen and (min-height: 1440px) {
        min-height: 70vh;
    }

    @media only screen and (max-width: $bp-xl) {
        min-height: 70vh;
    }

    @media only screen and (max-width: $bp-md) {
        min-height: auto;
    }

    &__inner {
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;

        @media only screen and (max-width: $bp-xl) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (max-width: $bp-md) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__more {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        padding: 10px 0;

        &:not(:first-child) {
            margin-top: 80px;
        }

        &::before, 
        &::after {
            content: "";

            display: flex;

            height: 1px;
            flex-grow: 1;

            background-color: hsla(214, 84%, 56%, 0.32);
        }
    }

    &__more-link {
        font-weight: 500;
        font-size: 32px;
        line-height: 120%;

        @media only screen and (max-width: $bp-xl) {
            font-size: 26px;
        }
    
        @media only screen and (max-width: $bp-lg) {
            font-size: 20px;
        }
    
        @media only screen and (max-width: $bp-md) {
            font-size: 14px;
        }

        .icon {
            width: 40px;
            height: 40px;

            @media only screen and (max-width: $bp-lg) {
                width: 32px;
                height: 32px;
            }
        }
    }
}

.c-article {
    display: flex;
    flex-direction: column;

    text-decoration: none;
    font-size: 24px;
    line-height: 120%;

    &__image {
        display: flex;
        
        height: 225px;
        
        border-radius: 20px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            will-change: transform;
            transition: transform 0.75s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.65s ease;
        }

        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    &__labels {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px 16px;

        &:not(:last-child) {
            margin-bottom: 32px;
        }

        span {
            color: $blue-light;
            transition: color 0.3s ease;

            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }
    }

    &__content {

        h4 {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;

            color: #fff;
            font-weight: 700;

            transition: color 0.3s ease;

            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }

        p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;

            color: #B3B3B3;
            font-weight: 300;

            transition: color 0.3s ease;
        }
    }

    &:hover &__image img {
        // transform: scale(102%);
        opacity: 0.65;
    }
    
    @media (hover: hover) {
        &:active &__image img {
            transform: scale(102%);
        }
    }

    &:hover &__content h4{
        color: $blue-light;
    } 

}


.s-theory {
    position: relative;

    display: flex;
    align-items: center;
    min-height: 100vh;

    @media only screen and (min-height: 1440px) {
        min-height: 70vh;
    }

    @media only screen and (max-width: $bp-xl) {
        min-height: 70vh;
    }

    @media only screen and (max-width: $bp-md) {
        min-height: auto;
    }


    &__bg {
        position: absolute;
        inset: 0;

        width: 100%;
        height: 100%;

        @media only screen and (max-width: $bp-md) {
            display: none;
        }

        img{
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    &__inner {
        position: relative;
    }

    &__header {
        &:not(:last-child) {
            margin-bottom: 100px;

            @media only screen and (max-width: $bp-xl) {
                margin-bottom: 80px;
            }

            @media only screen and (max-width: $bp-lg) {
                margin-bottom: 60px;
            }

            @media only screen and (max-width: $bp-md) {
                margin-bottom: 40px;
            }            
        }
    }

    &__slider {
        .slider {

            &__inner {
                overflow: visible;
            }

            &__slide {
                height: auto;

                @media only screen and (max-width: $bp-xl) {
                    width: calc(33.33% - 45px);
                }

                @media only screen and (max-width: $bp-lg) {
                    width: 45%;
                }

                @media only screen and (max-width: $bp-md) {
                    width: calc(50% - 25px);
                }

                @media only screen and (max-width: $bp-sm) {
                    width: calc(50% - 15px);
                    min-width: 180px;
                }
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        min-height: 100%;

        color: #fff;

        font-size: 28px;
        line-height: 120%;

        @media only screen and (max-width: $bp-xl) {
            font-size: 22px;
        }

        @media only screen and (max-width: $bp-lg) {
            font-size: 18px;
        }

        @media only screen and (max-width: $bp-md) {
            padding: 38px 20px 20px;

            font-size: 14px;

            border-radius: 20px;
            background-color: #333333;
        }

        img{
            width: 192px;
            height: 120px;

            @media only screen and (max-width: $bp-lg) {
                width: 120px;
                height: 75px;
            }
            
            @media only screen and (max-width: $bp-md) {
                width: 52px;
                height: 34px;
            }

            &:not(:last-child) {
                margin-bottom: 38px;

                @media only screen and (max-width: $bp-xl) {
                    margin-bottom: 32px;
                }

                @media only screen and (max-width: $bp-lg) {
                    margin-bottom: 26px;
                }

                @media only screen and (max-width: $bp-md) {
                    margin-bottom: 18px;
                }
            }
        }

        h4{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 4;

            font-weight: 400;
        }
    }
}


.s-services {
    position: relative;

    display: flex;
    align-items: center;
    min-height: 100vh;

    @media only screen and (min-height: 1440px) {
        min-height: 70vh;
    }

    @media only screen and (max-width: $bp-xl) {
        min-height: 70vh;
    }

    @media only screen and (max-width: $bp-md) {
        min-height: auto;
    }


    &__inner {
    }

    &__header {
        &:not(:last-child) {
            margin-bottom: 40px;

            @media only screen and (max-width: $bp-xl) {
                margin-bottom: 32px;
            }

            @media only screen and (max-width: $bp-lg) {
                margin-bottom: 24px;
            }

            @media only screen and (max-width: $bp-md) {
                margin-bottom: 20px;
            }
        }
    }

    &__title {

    }

    &__body {
        display: flex;
        flex-direction: column;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        &:not(:last-child) {
            margin-bottom: 80px;

            @media only screen and (max-width: $bp-xl) {
                margin-bottom: 56px;
            }

            @media only screen and (max-width: $bp-lg) {
                margin-bottom: 36px;
            }

            @media only screen and (max-width: $bp-md) {
                margin-bottom: 20px;
            }
        }

        .badges{
            width: 100%;

            &__list {
                flex-grow: 1;
            }

            .badge {
                flex-grow: 1;
            }
        }
    }

    &__content {
    }

    &__group {
        display: flex;
        display: none;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 40px;

        padding: 40px;

        border-radius: 20px;
        background-color: #333333;
        display: none;

        @media only screen and (max-width: $bp-xl) {
            gap: 45px 30px;

            padding: 32px;
        }

        @media only screen and (max-width: $bp-lg) {
            gap: 40px 20px;

            padding: 24px;
        }

        @media only screen and (max-width: $bp-md) {
            gap: 32px 10px;

            padding: 20px;
        }

        &.is-active {
            display: flex;
            animation: fadeInTop 0.85s ease;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: calc(33.33% - 80px / 3);
        min-height: 174px;

        @media only screen and (max-width: $bp-xl) {
            width: calc(33.33% - 60px / 3);
            min-height: 150px;
        }

        @media only screen and (max-width: $bp-lg) {
            width: calc(33.33% - 40px / 3);
            min-height: 122px;
        }

        @media only screen and (max-width: $bp-md) {
            width: calc(50% - 20px / 2);
            min-height: 94px;
        }

        img,
        .icon {
            max-width: 100%;
            height: 76px;

            @media only screen and (max-width: $bp-xl) {
                height: 58px;
            }

            @media only screen and (max-width: $bp-lg) {
                height: 42px;
            }

            @media only screen and (max-width: $bp-md) {
                height: 24px;
            }

            &:not(:last-child) {
                margin-bottom: 20px;

                @media only screen and (max-width: $bp-lg) {
                    margin-bottom: 16px;
                }

                @media only screen and (max-width: $bp-md) {
                    margin-bottom: 10px;
                }
            }
        }

        h4 {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 4;

            text-align: center;
            font-weight: 400;
            font-size: 22px;
            line-height: 120%;

            @media only screen and (max-width: $bp-xl) {
                font-size: 20px;
            }

            @media only screen and (max-width: $bp-lg) {
                font-size: 18px;
            }

            @media only screen and (max-width: $bp-md) {
                font-size: 14px;
            }
        }

        &--link{
            display: none;
            
            color: $blue-light;
            fill: $blue-light;

            transition: color 0.3s ease, fill 0.3s ease;

            @media only screen and (max-width: $bp-md) {
                display: flex;
            }

            &:hover {
                color: $blue;
                fill: $blue;
            }

            @media (hover: hover) {
                &:active {
                    color: $blue-medium;
                    fill: $blue-medium;
                }
            }

            h4 {
                @media only screen and (max-width: $bp-md) {
                    font-size: 12px;
                }
            }
        }
    }

    &__button {
        &:not(:first-child) {
            margin-top: 80px;

            @media only screen and (max-width: $bp-xl) {
                margin-top: 60px;
            }

            @media only screen and (max-width: $bp-lg) {
                margin-top: 40px;
            }

            @media only screen and (max-width: $bp-md) {
                display: none;
            }
        }
    }
}


.s-specialization {

    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media only screen and (max-width: $bp-md) {
            align-items: unset;
        }
    }

    &__inner {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 496px;
        min-height: 920px;

        padding: 55px 0;

        @media only screen and (max-width: $bp-xl) {
            width: 440px;
            min-height: 760px;

            padding: 32px 0;
        }

        @media only screen and (max-width: $bp-lg) {
            width: 400px;
            min-height: 650px;

            padding: 24px 0;
        }

        @media only screen and (max-width: $bp-md) {
            align-items: center;

            width: 100%;
            min-height: auto;

            padding: 0;
        }
    }

    &__header {
        &:not(:last-child) {
            margin-bottom: 56px;

            @media only screen and (max-width: $bp-xl) {
                margin-bottom: 46px;
            }

            @media only screen and (max-width: $bp-lg) {
                margin-bottom: 38px;
            }

            @media only screen and (max-width: $bp-md) {
                margin-bottom: 32px;
            }
        }
    }

    &__title {
        text-transform: unset;
    }

    &__body {
        @media only screen and (max-width: $bp-md) {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            
            width: 100%;
            padding-bottom: 64px;
        }
    }

    &__image {
        position: absolute;
        right: 100%;
        top: 50%;

        height: 100%;

        transform: translateY(calc(-50% + 45px));

        @media only screen and (max-width: $bp-lg) {
            transform: translateY(calc(-50% + 26px));
        }

        @media only screen and (max-width: $bp-md) {
            top: 0;
            right: calc(60% - 38px);

            flex-shrink: 0;

            transform: none;
        }

        img {
            height: 100%;
            width: auto;
        }
    }

    &__list {

        @media only screen and (max-width: $bp-md) {
            width: 60%;
            min-width: 220px;
            flex-shrink: 0;

        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        row-gap: 8px;

        color: #fff;

        &:not(:last-child) {
            margin-bottom: 56px;

            @media only screen and (max-width: $bp-xl) {
                margin-bottom: 46px;
            }

            @media only screen and (max-width: $bp-lg) {
                margin-bottom: 38px;
            }

            @media only screen and (max-width: $bp-md) {
                margin-bottom: 32px;
            }
        }
    }

    &__item-title{
        color: $blue-light;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        
        @media only screen and (max-width: $bp-xl) {
            font-size: 22px;
        }

        @media only screen and (max-width: $bp-lg) {
            font-size: 18px;
        }

        @media only screen and (max-width: $bp-md) {
            font-size: 14px;
        }
    }

    &__item-uptitle {
        color: #B3B3B3;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 24px;
        line-height: 120%;
        
        @media only screen and (max-width: $bp-xl) {
            font-size: 22px;
        }

        @media only screen and (max-width: $bp-lg) {
            font-size: 18px;
        }

        @media only screen and (max-width: $bp-md) {
            font-size: 14px;
        }
    }

    &__item-subtitle {
        font-size: 24px;
        line-height: 120%;
        
        @media only screen and (max-width: $bp-xl) {
            font-size: 22px;
        }

        @media only screen and (max-width: $bp-lg) {
            font-size: 18px;
        }

        @media only screen and (max-width: $bp-md) {
            font-size: 14px;
        }
    }

    &__item-text {
        color: #999999;
        font-size: 20px;
        line-height: 120%;

        @media only screen and (max-width: $bp-xl) {
            font-size: 18px;
        }

        @media only screen and (max-width: $bp-lg) {
            font-size: 14px;
        }

        @media only screen and (max-width: $bp-md) {
            font-size: 12px;
        }
    }
    
    &__item--orange &__item-title {
        color: #F2994A;
    }

    &__item--violet &__item-title {
        color: #BB6BD9;
    }

}


.s-subscribe {
    background-color: $blue;

    padding: 220px 0;

    @media only screen and (max-width: $bp-xxxl) {
        padding: 180px 0;
    }

    @media only screen and (max-width: $bp-xl) {
        padding: 140px 0;
    }

    @media only screen and (max-width: $bp-lg) {
        padding: 120px 0;
    }

    @media only screen and (max-width: $bp-md) {
        padding: 50px 0;
    }

    &__container {
        @media only screen and (max-width: $bp-md) {
            padding: 0 60px;
        }
    }

    &__inner {
    }

    &__header {

        &:not(:last-child) {
            margin-bottom: 52px;
    
            @media only screen and (max-width: $bp-lg) {
                margin-bottom: 44px;
            }
        }
    }

    &__title {
        text-transform: none;
        font-weight: 700;

        @media only screen and (max-width: $bp-md) {
            line-height: 40px;
        }
    }

    &__body {
    }

    &__form {
    }
}

.form {

    &__inner {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        @media only screen and (max-width: $bp-xl) {
            
        }

        @media only screen and (max-width: $bp-lg) {
            
        }

        @media only screen and (max-width: $bp-md) {
            flex-direction: column;
            flex-wrap: unset;
        }
    }

    &__input {
        width: auto;
        flex-grow: 1;
    }

    &__submit {
    }

    &__policy {
        width: 100%;

        color: #ACCCF8;
        font-weight: 300;
        font-size: 20px;
        line-height: 120%;

        @media only screen and (max-width: $bp-xl) {
            font-size: 18px;
        }

        @media only screen and (max-width: $bp-lg) {
            font-size: 16px;
        }

        @media only screen and (max-width: $bp-md) {
            font-size: 14px;
        }

        a {
            color: inherit;
            transition: color 0.3s ease;

            &:hover{
                color: #fff;
            }
            
            @media (hover: hover) {
                &:active{
                    color: #d4e4fc;
                }
            }
        }
    }
}