@import "Core/config/theme/index.scss";
@import "Core/lib/theme/index.scss";

.s-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 100vh;

    @media only screen and (min-height: 1440px) {
        min-height: 70vh;
    }

    @media only screen and (max-width: $bp-md) {
        min-height: auto;

        margin-top: 80px;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media only screen and (max-width: $bp-md) {
            flex-direction: column-reverse;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;

        width: 100%;
        max-width: 540px;
        flex-shrink: 0;
        
        color: #fff;

        @media only screen and (max-width: $bp-xl) {
            max-width: 480px;

            gap: 32px;
        }

        @media only screen and (max-width: $bp-lg) {
            max-width: 440px;

            gap: 24px;
        }

        @media only screen and (max-width: $bp-md) {
            align-items: center;
            gap: 20px;

            text-align: center;
        }
    }

    &__logo-wrapper {

        @media only screen and (max-width: $bp-md) {
            display: none;
        }
    }

    &__logo{
        width: 362px;
        height: 98px;

        @media only screen and (max-width: $bp-xl) {
            width: 320px;
            height: 86px;
        }
    }

    &__logo-line {
        width: 200px;
        height: 1px;

        margin: 20px 0;

        background-color: $gray-white;

        @media only screen and (max-width: $bp-xl) {
            width: 175px;
        }
    }

    &__subtitle {
        display: block;

        color: hsla(0, 0%, 100%, 0.7);

        font-weight: 500;
        font-size: 32px;
        line-height: 120%;

        @media only screen and (max-width: $bp-xl) {
            font-size: 28px;
        }

        @media only screen and (max-width: $bp-lg) {
            font-size: 24px;
        }

        @media only screen and (max-width: $bp-md) {
            font-size: 20px;
        }
    }

    &__button {

        @media only screen and (max-width: $bp-md) {
            display: none;
        }

        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    &__image {
        width: 60%;
        flex-shrink: 0;

        margin-left: 85px;

        @media only screen and (max-width: $bp-xl) {
            margin-left: 32px;
        }

        @media only screen and (max-width: $bp-lg) {
            margin-left: 12px;
        }

        @media only screen and (max-width: $bp-md) {
            width: 100%;
            max-width: 450px;

            margin-bottom: 45px;
            margin-left: 0;

            transform: translateX(5%);
        }
        
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
