include /core/lib/layout/index.pug

mixin badges(props = { class: [], attrs: {}})
    -
        const items = props.items ? props.items : '';
        const type = props.type ? props.type : 'radio';
        const iconStyle = props.iconStyle ? props.iconStyle : '';
        const style = props.style ? props.style : '';
        const scroll = props.scroll ? props.scroll : false;
        const name = props.name ? props.name : 'badges';

        let classes = ['badges'];
        let attrs = props.attrs ? props.attrs : {};
        let badgeDataset = props.badgeDataset ? props.badgeDataset : {};
        
        if (Array.isArray(props.class)) {
            props.class.forEach((key) => {
                classes.push(key);
            })
        }

        
    div(class= classes)&attributes(Object.assign(attrs, (scroll ? {'data-component': "badges"} : '')))
        .badges__list&attributes((scroll ? {'data-node': "content"} : ''))
            each item, index in items
                +badge(Object.assign(props, {
                    class: item.class, 
                    attrs: props.badgeDataset,
                    name: name,
                    active: item.active, 
                    disabled: item.disabled, 
                    content: item.content,
                }))

//- +badges({
//-     style: [], 
//-     attrs: {}, 
//-     badgeDataset: {}, 
//-     type: 'checkbox', 
//-     class: '', 
//-     name: 'badges-1', 
//-     scroll: false,
//-     items: [
//-         {
//-             style: '', 
//-             active: false, 
//-             disabled: false, 
//-             content: {text: 'Badge 1', icon: 'arrow--right'}
//-         }, 
//-         {
//-             style: '', 
//-             active: false, 
//-             disabled: false, 
//-             content: {text: 'Badge 1', icon: 'arrow--right'}
//-         }
//-     ]
//- })